section.social
  p.social__header Мы в соц. сетях
  ul.social__list
    li.social__item
      a.social__link(href="#" target="blank")
        span.visually-hidden Facebook
        svg
          use(href="#f")
    li.social__item
      a.social__link(href="#" target="blank")
        span.visually-hidden LinkedIn
        svg
          use(href="#in")
    li.social__item
      a.social__link(href="#" target="blank")
        span.visually-hidden Telegram
        svg
          use(href="#telega")
    li.social__item
      a.social__link(href="#" target="blank")
        span.visually-hidden VK
        svg
          use(href="#vk")
    li.social__item
      a.social__link(href="#" target="blank")
        span.visually-hidden Google+
        svg
          use(href="#g+")
    li.social__item
      a.social__link(href="#" target="blank")
        span.visually-hidden Instagram
        svg
          use(href="#insta")