nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link.navigation__link--arrow(href="#") Найти перевозчика
    li.navigation__item
      a.navigation__link(href="#") Поиск груза
    li.navigation__item
      a.navigation__link(href="#") Перевозчики
    li.navigation__item
      a.navigation__link(href="#") Грузоотправители
    li.navigation__item
      a.navigation__link.navigation__link--arrow(href="#") Покупка и аренда техники