section.whiteSlider

  section.whiteSlider__slider.swiper-container
    div.swiper-wrapper

      div.swiper-slide.whiteSlider__slide
        div.box.box--whiteSlider-content
          p.whiteSlider__header Авторизуйтесь, в личный кабинет грузоотправителя
          div.whiteSlider__info
            div.whiteSlider__picture
              img(src="./assets/images/whiteSlide.jpg")
              
              p.whiteSlider__signature Получите удобный инструмент размещения заявок на перевозку грузов и их отслеживания
            section.form.whiteSlider__form

              section.form__content
                form
                  label.whiteSlider__label Email или Номер телефона
                  input.form__text.whiteSlider__input(type="text" name="identifier" required)
                  label.whiteSlider__label Пароль
                  input.form__password.whiteSlider__input(type="password" name="password" required)
                  a.whiteSlider__reg(href="#") Регистрация
                  button.form__submit.whiteSlider__submit(type="submit")  Вход
                a.whiteSlider__forget(href="#") Забыли пароль?

        div.swiper-button-prev.whiteSlider__button.whiteSlider__button--prev
        div.swiper-button-next.whiteSlider__button.whiteSlider__button.whiteSlider__button-next

      div.swiper-slide.whiteSlider__slide
        div.box.box--whiteSlider-content
          p.whiteSlider__header Авторизуйтесь, в личный кабинет грузоотправителя #2
          div.whiteSlider__info
            div.whiteSlider__picture
              img(src="./assets/images/whiteSlide.jpg")
              
              p.whiteSlider__signature Получите удобный инструмент размещения заявок на перевозку грузов и их отслеживания
            section.form.whiteSlider__form

              section.form__content
                form
                  label.whiteSlider__label Email или Номер телефона
                  input.form__text.whiteSlider__input(type="text" name="identifier" required)
                  label.whiteSlider__label Пароль
                  input.form__password.whiteSlider__input(type="password" name="password" required)
                  a.whiteSlider__reg(href="#") Регистрация
                  button.form__submit.whiteSlider__submit(type="submit")  Вход
            
                a.whiteSlider__forget(href="#") Забыли пароль?
        div.swiper-button-prev.whiteSlider__button.whiteSlider__button--prev
        div.swiper-button-next.whiteSlider__button.whiteSlider__button.whiteSlider__button-next

      div.swiper-slide.whiteSlider__slide
        div.box.box--whiteSlider-content
          p.whiteSlider__header Авторизуйтесь, в личный кабинет грузоотправителя 3#
          div.whiteSlider__info
            div.whiteSlider__picture
              img(src="./assets/images/whiteSlide.jpg")
              
              p.whiteSlider__signature Получите удобный инструмент размещения заявок на перевозку грузов и их отслеживания
            section.form.whiteSlider__form

              section.form__content
                form
                  label.whiteSlider__label Email или Номер телефона
                  input.form__text.whiteSlider__input(type="text" name="identifier" required)
                  label.whiteSlider__label Пароль
                  input.form__password.whiteSlider__input(type="password" name="password" required)
                  a.whiteSlider__reg(href="#") Регистрация
                  button.form__submit.whiteSlider__submit(type="submit")  Вход
                a.whiteSlider__forget(href="#") Забыли пароль?

        div.swiper-button-prev.whiteSlider__button.whiteSlider__button--prev
        div.swiper-button-next.whiteSlider__button.whiteSlider__button.whiteSlider__button-next

    div.swiper-pagination.whiteSlider__pagination