section.contacts
  span.contacts__text Телефон:
  a.contacts__phone(href="tel:+78792226310") +7 (87922) 2-63-10
  p.contacts__address Адрес: 357212, Ставропольский край, г. Минеральные Воды,  ул. 50 лет Октября, д. 42, 2 этаж
  p.contacts__terms © 2018 компания Transhub24 Портал для поиска перевозчиков и грузоотправителей.