section.introduction
  h1.introduction__header Компания Transhub 24
  p.introduction__mission Наша цель — свести контакты грузоперевозчиков и грузовладельцев в одном месте, сделав их максимально удобными.
  a.introduction__find(href="#") Найти перевозчика