<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    title Transhub 24

  body.fixed
    block mixins
      include ../blocks/logo/logo
      include ../blocks/list/list

    block header
      include ../blocks/header/header
    
    main
      block main

    block footer
      include ../blocks/footer/footer

