ul.meta
  li.meta__item
    a.meta__link(href="tel:+78792226310") +7 (87922) 2-63-10
  li.meta__item
    a.meta__link(href="#") О компании
  li.meta__item
    a.meta__link(href="#") Рекламодателям
  li.meta__item
    a.meta__link(href="#") База знаний
  li.meta__item
    a.meta__link(href="#") Контакты
  