section.stepsSlider
  div.box
    h2.stepsSlider__header 5 шагов для отправки груза через сайт TransHub24
    
    div.swiper-button-prev.stepsSlider__button.stepsSlider__button--prev
    div.swiper-button-next.stepsSlider__button.stepsSlider__button-next

  section.stepsSlider__slider.swiper-container
    div.swiper-wrapper

      div.swiper-slide.stepsSlider__slide
        svg
          use(href="#page")
        p.stepsSlider__stage 1 этап
        p.stepsSlider__description Максимально подробно заполните форму для поиска нужного вида транспорта

      div.swiper-slide.stepsSlider__slide
        svg
          use(href="#list")
        p.stepsSlider__stage 2 этап
        p.stepsSlider__description Выберите перевозчика из списка компаний, подобранных по указаным Вами параметрам

      div.swiper-slide.stepsSlider__slide
        svg
          use(href="#chat")
        p.stepsSlider__stage 3 этап
        p.stepsSlider__description Свяжитесь с перевозчиком с помощью инструментов личного кабинета грузоотправителя на нашем сайте

      div.swiper-slide.stepsSlider__slide
        svg
          use(href="#send")
        p.stepsSlider__stage 4 этап
        p.stepsSlider__description Отправьте груз и отслеживайте его передвижение в личном кабинете на нашем сайте

      div.swiper-slide.stepsSlider__slide
        svg
          use(href="#comment")
        p.stepsSlider__stage 5 этап
        p.stepsSlider__description По завершении работы с перевозчиком оставьте отзыв, в котором опишите все, что поможет нам еще стать лучше для Вас!






    div.swiper-pagination.stepsSlider__pagination